.time-map{
  display: flex;
  text-align: center;
  margin-top: 110px;
}

.time-map__term{
  background-color: #2BE080;
  padding: 9px 0 10px;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.time-map__backend{
  flex-basis: 25%;
}

.time-map__frontend{
  flex-basis: 100%;
}

.time-map__term_type_grey{
  background-color: #F2F2F2;
  padding-left: 0;
  padding-right: 0;
}
.time-map__specialization{
  font-size: 14px;
  color: #A0A0A0;
  font-weight: 500;
  margin-top: 14px;
}

@media screen and (max-width: 800px) {
  .time-map__backend{
    flex-basis: 26%;
  }

  .time-map__specialization{
    font-weight: 400;
    line-height: calc(17 / 14);
  }
}

@media screen and (max-width: 440px) {

  .time-map{
    margin-top: 60px;
  }

  .time-map__term{
    font-size: 11px;
  }

  .time-map__backend{
    flex-basis: 50%;
  }
}
