.portfolio__title{
  font-size: 18px;
  font-weight: 400;
  color: #A0A0A0;
  margin: 0 0 30px 0;
}

.portfolio__list{
  padding-left: 0;
  margin: 0;
}

.portfolio__element{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E8E8E8;
}

.portfolio__element:last-child{
  border-bottom: none;
  margin-bottom: 105px;
}

.portfolio__title-element{
  font-size: 30px;
  font-weight: 400;
  line-height: calc(50 / 30);
  letter-spacing: -1.2px;
  margin-top: 20px;
  margin-bottom: 19px;
}

.portfolio__img-link {
  padding-right: 6px;
  padding-top: 6px;
  opacity: 1;
  transition: opacity .2s linear;
}

.portfolio__img-link:hover{
  opacity: 0.6;
}




@media screen and (max-width: 768px) {

  .portfolio__element:last-child{
    margin-bottom: 90px;
  }

  .portfolio__title-element{
    font-size: 28px;
    line-height: calc(50 / 28);
    letter-spacing: -1.12px;
  }
}

@media screen and (max-width: 500px) {
  .portfolio__title-element{
    font-size: 19px;
    line-height: calc(28 / 18);
    letter-spacing: -0.72px;
  }

  .portfolio__img-link{
    width: 18px;
    height: 28px;
  }
}


@media screen and (max-width: 320px) {
  .portfolio__title{
    font-size: 14px;
    line-height: 20px;
  }

  .portfolio__title-element{
    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: -0.72px;
  }

  .portfolio__img-link{
    width: 18px;
    height: 28px;
  }

  .portfolio__element:last-child{
    margin-bottom: 70px;
  }
}
