.project{
  padding-top: 110px;
  max-width: calc(1280px - 140px);
  margin: 0 auto;
}

.project__container{
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.project__component{
  max-width: 550px;
}

.project__title{
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

.project__description{
  font-size: 14px;
  font-weight: 400;
  margin-top: 26px;
}

