.nav-menu{
  flex-grow: 1;
}

.nav-menu__links{
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: right;
}

.nav-menu__links_type_auth{
  justify-content: space-between;
  padding-left: 44px;
  gap: 16px;
}

.nav-menu__element{
  list-style-type: none;
}

.nav-menu__element_type_auth:last-child{
  flex-grow: 1;
  text-align: right;
}

.nav-menu__link{
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  line-height: calc(16 / 12);
  opacity: 1;
  transition: opacity .2s linear;
}

.nav-menu__link:hover{
  opacity: .6;
}

.nav-menu__link_type_select{
  font-weight: 500;
}

.nav-menu__link_type_auth{
  color: #000;
  font-size: 13px;
  line-height: calc(18 / 13);
}

.nav-menu__link_type_colored{
  display: block;
  padding: 8px 20px;
  color: #000;
  background-color: #2BE080;
  border-radius: 3px;
}

.nav-menu__link_type_auth-colored{
  color: #000;
  background-color: #F9F9F9;
  padding: 8px 20px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 14px;
}

@media screen and (max-width: 320px) {
  .nav-menu__links{
    gap: 14px;
  }

  .nav-menu__link{
    font-size: 10px;
    font-weight: 500;
    line-height: calc(16 / 10);
  }

  .nav-menu__link_type_colored{
    padding: 3px 12px;
  }
}
